@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-950;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-800;
}

:root {
  --background: #053742;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #053742;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
