@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-cyan-500;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-dark-primary;
}

:root {
  --background: #FFFFFF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply leading-none;
  font-family: Fredoka, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
